DAW/LND/DTD/T1_BDferreteria/BDferreteria.dtd

<!ELEMENT BDferreteria (PIEZAS,PROVEEDOR,SUMINISTRA)>
<!ELEMENT PIEZAS EMPTY>
<!ATTLIST PIEZAS
    Código CDATA #REQUIRED
    nombre CDATA #REQUIRED
>
<!ELEMENT PROVEEDOR EMPTY>
<!ATTLIST PROVEEDOR
    id CDATA #REQUIRED
    nombre CDATA #REQUIRED
>
<!ELEMENT SUMINISTRA EMPTY>
<!ATTLIST SUMINISTRA
    Código_Pieza CDATA #REQUIRED
    idProveedor CDATA #REQUIRED
    precio CDATA #REQUIRED
>